<div class="container row mx-auto mt-3 mt-md-5 rounded">
  <div class="area row mt-5 pt-1 pb-5 mx-auto col-12"
    style="border-top: 1px solid rgba(200, 200, 200);">
    <div class="todo-card col-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card-header-wrapper row d-flex justify-content-between align-items-center m-auto">
        <div class="header-wrapper-left d-flex">
          <div class="card-title rounded my-auto">To Do</div>
          <div class="counter font-weight-bold">{{ todos.length }}</div>
        </div>
        <div class="header-wrapper-right">
          <i class="fas fa-ellipsis-h rounded"></i>
          <a href="/todos/new"><i class="fas fa-plus rounded"></i></a>
        </div>
      </div>
      {{#each todos}}
      <div class="todos rounded d-flex justify-content-between">
       <a class="item-title" href="/todos/{{ this.id }}/done">{{ this.name }}</a>
        <div class="dropdown todos-dropdown shadow-none">
          <button class="btn todos-menu-btn shadow-none" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a href="/todos/{{ this.id }}" class="dropdown-item edit-btn"><i class="fas fa-pen mr-3"></i>detail</a>
            <a href="/todos/{{ this.id }}/edit" class="dropdown-item edit-btn"><i class="fas fa-pen mr-3"></i>edit</a>
            <form action="/todos/{{ this.id }}?_method=DELETE" method="POST" onclick="return deleteCheck()">
              <button class="dropdown-item delete-btn"><i class="fas fa-trash-alt mr-3"></i>delete</button>
            </form>
          </div>
        </div>
      </div>
      {{/each}}
      <a class="new-btn" href="/todos/new">
        <div class="card-footer-wrapper rounded">
          <i class="fas fa-plus"></i>&nbsp&nbspNew
        </div>
      </a>
    </div>

    <div class="done-card col-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card-header-wrapper row d-flex justify-content-between align-items-center m-auto">
        <div class="header-wrapper-left d-flex">
          <div class="card-title rounded my-auto">Done</div>
          <div class="counter font-weight-bold">{{ dones.length }}</div>
        </div>
        <div class="header-wrapper-right">
          <i class="fas fa-ellipsis-h rounded"></i>
        </div>
      </div>
      {{#each dones}}
      <div class="done todos rounded d-flex justify-content-between">
        <div class="item-title">✔️&nbsp&nbsp{{ this.name }}</div>
        <div class="dropdown todos-dropdown shadow-none">
          <button class="btn todos-menu-btn shadow-none" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a href="/todos/{{ this.id }}/undo" class="dropdown-item undo-btn"><i class="fas fa-redo-alt mr-3"></i></i>undo</a>
            <a href="/todos/{{ this.id }}" class="dropdown-item edit-btn"><i class="fas fa-pen mr-3"></i>detail</a>
            <a href="/todos/{{ this.id }}/edit" class="dropdown-item edit-btn"><i class="fas fa-pen mr-3"></i>edit</a>
            <form action="/todos/{{ this.id }}?_method=DELETE" method="POST" onclick="return deleteCheck()">
              <button class="dropdown-item delete-btn"><i class="fas fa-trash-alt mr-3"></i>delete</button>
            </form>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

  <div class="trash-card col-12 col-sm-12 col-md-4 col-lg-4">
    <div class="card-header-wrapper row d-flex justify-content-between align-items-center m-auto">
      <div class="header-wrapper-left d-flex">
        <div class="card-title rounded my-auto">Trash</div>
        <div class="counter font-weight-bold">{{ trashes.length }}</div>
      </div>
      <div class="header-wrapper-right">
        <i class="fas fa-ellipsis-h rounded"></i>
      </div>
    </div>
    {{#each trashes}}
    <div class="trash todos rounded d-flex justify-content-between">
      <div class="item-title">{{ this.name }}</div>
      <div class="dropdown todos-dropdown shadow-none">
        <button class="btn todos-menu-btn shadow-none" type="button" id="dropdownMenu2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <a href="/todos/{{ this.id }}/undo" class="dropdown-item edit-btn"><i class="fas fa-redo-alt mr-3"></i></i>undo</a>
          <a href="/todos/{{ this.id }}" class="dropdown-item edit-btn"><i class="fas fa-pen mr-3"></i>detail</a>          
          <form action="/todos/{{ this.id }}?_method=DELETE" method="POST" onclick="return checkBeforeDelete()">
            <button class="dropdown-item delete-btn"><i class="fas fa-trash-alt mr-3"></i>delete</button>
          </form>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  </div>
</div>